<!-- 

  <div class="about-section responsive">
  

    <h1>VMS</h1>
    <p class="text-white">It consists of Vehicle Management and Control
      <br>system in order for an organisation’s operation
      <br>and mountain’s its security,
      <br> replacing the paper work.</p>
  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>VasanthKumar</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>gantavasanthkumar@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Manoj</h2>
          <p class="title">Art Director</p>
          <p>ArtDirector in vehicle managment system.</p>
          <p>manojmani@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Sasidhar</h2>
          <p class="title">Designer</p>
          <p>Designer in vehicle managment system.</p>
          <p>sasidhar@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>



    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Chaitanya</h2>
          <p class="title">Developer</p>
          <p>Developer in vehicle managment system.</p>
          <p>chaitanya@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>



  <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Raju</h2>
          <p class="title">Developer</p>
          <p>Senior Developer in vehicle managment system.</p>
          <p>raju@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>




    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Vineela</h2>
          <p class="title">Developer</p>
          <p>Developer in vehicle managment system.</p>
          <p>Vineela@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

  </div>

 -->
<div class=" container" style="margin-top: 130px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h2 class="text-dark"> <b class="text-secondary"> About </b>us</h2>
                    <p> <i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, sit aliquam distinctio quas
                            eveniet
                            harum dolorem doloribus eligendi ea. Illo dolore facere consequuntur debitis, sed est porro
                            fugiat
                            quaerat impedit!</i> </p>
                    <p> <i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, sit aliquam distinctio quas
                            eveniet
                            harum dolorem doloribus eligendi ea. Illo dolore facere consequuntur debitis, sed est porro
                            fugiat
                            quaerat impedit!</i> </p>
                    <div class="text-right">
                        <button class="btn btn-danger  text-light shadow rounded rounded-pill" id="x">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class=" shadow p-3 mb-5 bg-white rounded">
                <img src="/assets/Aboutus/aboutus1.jpg" alt="about us image" height="450px" width="100%">
            </div>
        </div>
    </div>
   
</div>

    <footer class="page-footer font-small ">
        <div class="footer-copyright text-center  py-3">© 2020 Copyright:
            <a href="#"> IMS.com</a>
        </div>
    </footer>