
<div class="img">

<div class="img bg-light ">

 <div style="margin-top:56px;">
 <div class="row">
    <div class="col-sm-2">
        <nav class="navbar-expand-sm  navbar-dark bg-dark rounded "> 
            
           <button class="navbar-toggler" data-target="#x" type="button" data-toggle="collapse">
               <span class="navbar-toggler-icon"></span>
           </button>
         <div class="collapse navbar-collapse " id="x">
            <ul class="nav nav-pills flex-column ">
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="pill" routerLink="employeeprofile" >Employee Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" routerLink="logbook">Logs</a>
                </li>
            </ul>
        </div>

        </nav>
    </div>
    <div class="col-sm-10">
       <!-- <div class="bg bg-light">
       <h3 class="text-center"> WELCOME  {{empid}}</h3>
       </div> -->
        <router-outlet></router-outlet>
    </div>
</div>
</div> 

</div>
</div>














