.navbar{
     background-color: black;

}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color:black;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    /* padding: 12px; */
    /* font-size: 17px; */
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color:grey;
  }
    
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  /* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
}


.ftco-footer
{
    font-size: 16px;
    background-color: #353b48;
    padding: 2em 0;
    z-index: 0;
    color: gray;
}

.ftco-footer .ftco-footer-logo
{
    text-transform: uppercase;
    letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h5
{
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    color: ghostwhite;
}

.ftco-footer .ftco-footer-logo ul li
{
    margin-bottom: 10px;
}

.ftco-footer .ftco-footer-logo ul li a
{
    color: rgba(255, 255, 255, 0.6);
}
.ftco-footer .ftco-footer-logo ul li a span
{
    color: rgba(255, 255, 255, 0.6);
}

.ftco-footer .ftco-footer-widget .btn-primary
{
    background: ghostwhite !important;
    border: 2px solid ghostwhite !important;
}

.ftco-footer .ftco-footer-widget .btn-primary:hover
{
    background: ghostwhite !important;
    border: 2px solid ghostwhite !important;
}

.ftco-footer p
{
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer p a
{
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer p a:hover
{
    color: ghostwhite;
}

.ftco-footer .ftco-heading-2
{
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    color: gray
}

.ftco-footer-social li
{
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a
{
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: relative;
    
}

.ftco-footer-social li a span
{
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
}

.ftco-footer-social li a:hover
{
    color: ghostwhite;
}

.footer-small-nav > li
{
    display: inline-block;
}
.footer-small-nav > li a
{
    margin: 0 10px 10px 0;
}

.footer-small-nav > li a :hover, .footer-small-nav > li a :focus
{
    color: #31de79;
}

.media .ftco-icon
{
    width: 100px;
}

.media .ftco-icon span
{
    color: #31de79;
}