
<div class="row mt-5">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        
        <div style="margin-top: 56px;" class="container" *ngIf="submitotp" >
            <form #ref="ngForm" (ngSubmit)="forgotpassword(ref.value)" >
            
            <div class="card jumbotron " >
                
                <div class="form-group" class="auto-mx text-center"  >
                <label for="">Registered Email</label>
                <input type="text" name="empid" class="form-control  auto-mx" ngModel >
                </div>
                <div class="text-center form-group">
                    <button class="btn btn-success btn-md mt-5" type="submit">send OTP</button>
                </div>
            </div>
            
            </form>
            </div>
            
<div *ngIf="b" style="margin-top: 56px;">
    
    <form #ref="ngForm" (ngSubmit)="otp(ref.value)" >
        
        <div class="card  jumbotron " >
            <p id="timer">x</p>
        <div class="form-group" class="auto-mx text-center"  >
        <label for="">Enter otp</label>
        <input type="text" name="OTP" class="form-control  auto-mx " ngModel >
        </div>
        <div class="text-center form-group">
            <button class="btn btn-success btn-md mt-5" type="submit">send OTP</button>
        </div>
    </div>
    </form>
    </div>
    
    <div *ngIf="password" style="margin-top: 56px;">
    <form #ref="ngForm" (ngSubmit)="newpassword(ref.value)"  >
    
    <div class="card " >
        
        <div class="form-group" class="auto-mx text-center"  >
        <label for="">Enter Newpassword</label>
        <input type="text" name="password" class="form-control auto-mx" ngModel >
        </div>
        <label for="">confirm password</label>
        <input type="text" name="password1" class="form-control w-25  auto-mx" ngModel >
        </div>
        <div class="text-center form-group">
            <button class="btn btn-success btn-md mt-5" >changepassword</button>
        </div>
    
    
    </form>
    </div>

    </div>
    <div class="col-sm-3"></div>
</div>


<!-- <p id="timer">x</p> -->