.img{
    opacity:75%;
    
   
}


    
table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #dddcdc;}

  @media 